@page "/sales"

<h1>Sales Recording</h1>

<button class="btn btn-primary" @onclick="CreateSale">New Sale</button>

<!-- Display list of sales -->
@code {
    private IEnumerable<Order> orders = Enumerable.Empty<Order>();

    [Inject]
    private OrderService OrderService { get; set; } = default!;

    protected override void OnInitialized()
    {
        orders = OrderService.GetOrders();
    }

    private void CreateSale()
    {
        NavigationManager.NavigateTo("/sales/create");
    }
}
